{
    "presets": ["@babel/env", "@babel/react"],
    "plugins": [
        "syntax-dynamic-import",
        "syntax-trailing-function-commas",
        ["transform-builtin-extend", {
            "globals": ["Error", "Array"]
        }],
        "transform-decorators-legacy",
        "transform-flow-strip-types"
    ]
}
